
.titulo-menu {
    padding-left: 15px;
    padding-top: 25px;
}
.nav-item{
    margin:2px;
}
.contenido-usuario{
    padding: 20px;
}

.columna-usuario{
    border-right: 1px solid rgb(220, 220, 220)
}