a:link,
a:visited,
a:active {
    text-decoration: none;
    color: black;
}

p{
    margin: 0;
 
}



.fijado {
    position: fixed;
    top: 0;
    visibility: visible;
    
}

.oculto {
    display: none;
}

.headerFixed {
    background-color: #e4e4e4;
    width: 100%;
    box-shadow: 0px 0px 10px rgb(155, 155, 155);
    z-index: 111;
    padding: 5px;
    border-bottom: 5px solid #fcc40f;
}
.navFixed {

    font-size: 17px;
 
}

header {
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-position-y: center;
    height: 230px;
    padding-top: 55px;
    padding-bottom: 70px;
    margin-bottom: 0px;
    box-shadow: 0px 0px 10px grey;
    border-bottom: 5px solid #fcc40f;
}

.navHeader {
    background: rgba(0, 0, 0, 0.671);
    height: 50px;
    border-radius: 18px;
    font-size: 20px;
    font-weight: bold;
}

.navLinkHeader:hover {
    background: rgba(107, 107, 107, 0.671);
    border-radius: 10px;
    vertical-align: middle;
    margin-top: 3px;
    padding-top: 5px;
    height: 40px;
}

.btnSesion {
    background-color: #dc3545;
    border-radius: 10px;
    vertical-align: middle;
    margin-top: 3px;
    padding-top: 5px;
    height: 40px;
}

.buscador {
    padding-top: 30px;
    padding-bottom: 25px;
    font-size: 18px;
    box-shadow: inset 0px -18px 20px -20px grey;
}

.tituloBuscador {
    font-size: 55px;
    margin-bottom: 20px;
}

.btnBuscar {
    background-color: #dc3545;
    border-radius: 100%;
    height: 50px;
    width: 50px;
}

.titulo {
    text-align: center;
    background: #3C3A44;
    font-weight: 600;
    font-size: 25px;
    color: white;
    
}

.contenedorContenido {
    box-shadow: 0px 0px 5px rgb(184, 183, 183);
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 18px;

}

#map {
    
    margin-bottom: 15px;
    height: 500px;
}
#infowindow {
    display: none;
  }

button {
    padding: 0;
    border: none;
    background: none;
}


.cardEvento:hover {
    box-shadow: 0px 0px 10px rgb(184, 183, 183);
    cursor: pointer;
}

.pointer{
    cursor: pointer;
}

#divCookies {
    position: fixed;
    margin: auto;
    bottom: 5px;
    width: 70%;
    z-index: 111;
  }

footer {
    background-color: #c5c5c5;
    border-top: 5px solid #fcc40f;
    text-align: center;
    height: 160px;
}
