{% extends 'base.html.twig' %}



{% block contenido %}

<!-- BUSCADOR -->
<div class="col-12 buscador">
    <div class="row justify-content-center">
        <h1 class="tituloBuscador">Busca qué hacer en Valencia</h1>
        <div class="col-8">
            <form class="row justify-content-center">

                <div class="col-auto form-group ">
                    <label for="" class="ml-1">Desde</label>
                    <input type="date" class="form-control">
                </div>
                <div class="col-auto form-group">
                    <label for="" class="ml-1">Hasta</label>

                    <input type="date" class="form-control">
                </div>
                <div class="col-auto form-group">
                    <label for="" class="ml-1">Categoría</label>
                    <select class="custom-select " id="">
                        <option selected>Todas</option>
                        {% for categoria in categorias %}
                        <option value="">{{categoria.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-auto form-group align-self-center">
                    <label for=""></label>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Sólo eventos
                            gratuitos</label>
                    </div>
                </div>
                <div class="col-auto align-self-center">
                    <button type="submit" class="btn btn-block btnBuscar"><img src="img/flecha-derecha.png" alt=""
                            srcset="" height="20px"></button>
                </div>


            </form>

        </div>
    </div>
</div>

<!-- EVENTOS -->
<div class="col-12 titulo">EVENTOS</div>


<div class="col-11 col-lg-10 contenedorContenido no-gutters">

    <!-- MAPA -->

    <div class="col-auto" id="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d769.8147735792327!2d-0.3594073942171999!3d39.48606376276594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6048a769bd2a51%3A0x868cb4bea88b8f9f!2sBenimaclet%2C%20Valencia!5e0!3m2!1ses!2ses!4v1582818576062!5m2!1ses!2ses"
            width="100%" height="500" frameborder="1"
            style="border: 1px solid rgba(0, 0, 0, 0.125); border-radius: 3px; " allowfullscreen=""></iframe>

    </div>

    <!-- Cards -->
    <div class="row d-flex justify-content-around d-flex align-items-center no-gutters">
        <a href="#" class="col-3 card cardEvento">

            <img src="https://conceptodefinicion.de/wp-content/uploads/2017/12/Mon%C3%B3logo.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae vero
                    facere fugiat impedit fuga amet!</p>
            </div>

        </a>

        <a href="#" class="col-4 card cardEvento">
            <img src="https://www.sentirsebiensenota.com/wp-content/uploads/2018/07/shutterstock_568376491-1280x640.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
                    porro.</p>
            </div>
        </a>
        <a href="#" class="col-4 card cardEvento">
            <img src="https://www.protocoloimep.com/app/uploads/2017/06/teatro-event-manager-1024x500.png"
                class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, explicabo
                    magnam. Labore reiciendis ut explicabo neque, consequatur, nam officia voluptates cum
                    aliquid vitae dolor quam quaerat vero doloribus earum sint.</p>
            </div>
        </a>


    </div>


</div>




{% endblock %}