{% extends "usuario/base_usuario.html.twig" %}

{% block title %}Editar evento | Síntesis{% endblock %}

{% block contenidoUsuario %}
    <h1>Editar Evento</h1>

    {{ include('evento/_form.html.twig', {'button_label': 'Actualizar datos'}) }}


    {{ include('evento/_delete_form.html.twig') }}
{% endblock %}
