{% extends 'usuario/base_usuario.html.twig' %}

{% block title %}Nuevo Evento | Síntesis{% endblock %}

{% block contenidoUsuario %}
    <h1>Create new Evento</h1>

    {{ include('evento/_form.html.twig') }}

{% endblock %}
