{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block contenido %}
<div class="text-center">
    <h1>ERROR 404</h1>
    <h1>P치gina no encontrada</h1>

    <p class="h5">
        No se pudo encontrar la p치gina solicitada. Compruebe la direcci칩n URL o <a href="{{ path('principal') }}" class="text-muted">vuelva a la p치gina de inicio</a>.
    </p></div>
{% endblock %}